<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">THÊM MỚI NGƯỜI DÙNG MỚI ĐI CHỦ NHÂN ^-^!</h1>
        <a href="/admin" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-arrow-left fa-sm text-white-50"></i> Back to Home </a>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-8">
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Nhập Thông Tin</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>


                <form method="post" th:action="@{/themnguoiquantri}" enctype="multipart/form-data" th:object="${newaccount}">

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="fullName">Nhập họ và tên (*):</label>
                                            <input type="text" id="fullName" name="fullName" class="form-control" required="" placeholder="Nhập họ và tên" th:field="*{fullName}" >
                                            <span class="text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="email">Nhập email (*):</label>
                                            <input type="email" id="email" name="email" class="form-control" required="" placeholder="Nhập email" title="Vui lòng nhập đúng địa chỉ email" th:field="*{email}">
                                            <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="Password">Nhập password (*):</label>
                                            <div class="input-group">
                                                <input type="password" id="password" name="password" class="form-control" th:field="*{password}" required="" placeholder="Nhập password">
                                                <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
                                                <div class="input-group-append">
                                                    <span class="input-group-text" id="showPassword"><i class="far fa-eye"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="address">Nhập địa chỉ:</label>
                                            <input type="text" id="address" name="address" th:field="*{address}" class="form-control" required="" placeholder="Nhập địa chỉ">
                                            <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="phoneNumber">Nhập số điện thoại:</label>
                                            <input type="tel" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}" class="form-control" required="" placeholder="Nhập số điện thoại" pattern="[0-9]{10}" title="Vui lòng nhập số điện thoại có 10 chữ số">
                                            <span class="text-danger" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="birthday">Chọn ngày sinh:</label>
                                            <input type="date" id="birthday" name="birthday" th:field="*{birthday}" required="" class="form-control" >
                                            <span class="text-danger" th:if="${#fields.hasErrors('birthday')}" >Ngày sinh không hợp lệ</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="gender">Chọn giới tính:</label>
                                            <select class="form-control"  required="" id="gender" name="gender" th:field="*{gender}">
                                                <option value="Nam">Nam</option>
                                                <option value="Nữ">Nữ</option>
                                                <option value="Khác">Khác</option>
                                            </select>
<!--                                            <span class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>-->
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <label class="form-label" for="accountTypeId">Chọn loại tài khoản:</label>
                                        <select class="form-control" required="" id="accountTypeId" name="accountTypeId" th:field="*{accountTypeId}">
                                            <option value="">-- Chọn loại tài khoản --</option>
                                            <option th:each="accounttype: ${accounttypes}" th:value="${accounttype.AccountTypeID}" th:text="${accounttype.AccountTypeName}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" style="padding-top: 0;">
                                    <label for="image-input">Avatar(*):</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" required="" accept="image/*" id="image-input" name="file" th:field="*{file}">
                                        <label class="custom-file-label" for="image-input">Choose file</label>
                                    </div>
                                    <div class="mt-3">
                                        <img id="image-preview" class="img-thumbnail" width="120" height="120">
                                    </div>
                                </div>
                            </div>
                        </div>

                        </script>

                        <script>
                          // Lấy danh sách tất cả các chức vụ
                          let accountTypes = [];
                          fetch('/api/account-types')
                            .then(response => response.json())
                            .then(data => accountTypes = data);

                          fetch('/api/accounts/all')
                            .then(response => response.json())
                            .then(data => {
                              const tableBody = document.querySelector('#account-table tbody');
                              for (const account of data) {
                                const row = tableBody.insertRow();
                                const fullNameCell = row.insertCell();
                                fullNameCell.textContent = account.fullName;
                                const emailCell = row.insertCell();
                                emailCell.textContent = account.email;
                                const phoneCell = row.insertCell();
                                phoneCell.textContent = account.phoneNumber;
                                const addressCell = row.insertCell();
                                addressCell.textContent = account.address;
                                const accountTypeCell = row.insertCell();
                                const accountType = accountTypes.find(type => type.accountTypeID === account.accountTypeId);
                                accountTypeCell.textContent = accountType ? accountType.accountTypeName : '';
                              }
                            });
                        </script>

                        <script>
                            // Get references to the HTML elements
                            const imageInput = document.querySelector('#image-input');
                            const imagePreview = document.querySelector('#image-preview');
                            // When the user selects an image, display a preview of the image
                            imageInput.addEventListener('change', () => {
                                const file = imageInput.files[0];
                                if (file) {
                                    const reader = new FileReader();
                                    reader.onload = () => {
                                        imagePreview.src = reader.result;
                                    };
                                    reader.readAsDataURL(file);
                                }
                            });
                        </script>

                        <button type="submit" class="btn btn-primary btn-icon-split btn-sm">
                            <span class="icon text-white-50">
                              <i class="fas fa-check"></i>
                            </span>
                            <span class="text">Thêm</span>
                        </button>
                        <h1 class="showno"></h1>

                        Các trường (*) là bắt buộc. Vui lòng điền đầy đủ!
                    </div>
                    <!-- đóng form -->
                </form>
                <!-- đóng div với class "card-body" -->
            </div>

            <!-- đóng div với class "card" -->
            <div class="row">
                <div class="col-xl-12 col-lg-8">
                    <div class="card shadow mb-5">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Danh Sách Người Quản Trị</h6>
                        </div>
                        <div class="card-body">
                            <table id="account-table" class="table table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Họ và tên</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Số điện thoại</th>
                                    <th scope="col">Địa chỉ</th>
                                    <th scope="col">Chức vụ</th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>

                            <style>
                          .table-bordered {
                            border: 1px solid #dee2e6;
                          }
                          .table-bordered th,
                          .table-bordered td {
                            border: 1px solid #dee2e6;
                          }
                        </style>
                            <div class="float-right">
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item disabled" id="previous-page">
                                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Trang trước</a>
                                        </li>
                                        <li class="page-item active" aria-current="page" id="page-1">
                                            <a class="page-link" href="#" data-page="1">1 <span class="sr-only">(current)</span></a>
                                        </li>
                                        <!-- Các nút phân trang tương tự cho các trang khác -->
                                        <li class="page-item" id="next-page">
                                            <a class="page-link" href="#" data-page="2">Trang sau</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>