<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chào mừng</title>
    <!-- CSS -->
    <style>

    body {
  background-image: url("https://media.tenor.com/VkScszX7f3YAAAAC/discord-banner.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

    .container-fluid {

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .col {
    flex: 1;
    margin: 10px;
  }

  img {
    max-width: 100%;
    height: auto;
  }
    }
  </style>
</head>
<body>
<div class="container-fluid">
    <h1>Chào mừng đến với trang web quản lý của chúng tôi!</h1>
    <p>Bạn đã đến đúng nơi để quản lý dữ liệu và tài nguyên của mình.</p>

</div>
</body>
</html>